<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuo5-Jjb1IPB9Kk10AZWn2_W-y_3WsbKw</string>
	<key>GCM_SENDER_ID</key>
	<string>806204123589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>per.garenge.DataDemo</string>
	<key>PROJECT_ID</key>
	<string>datademo-46bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>datademo-46bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806204123589:ios:a20e28df8ba7fd4076c3ac</string>
</dict>
</plist>